.all{
    background-color: rgb(200, 200, 200);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
}

.imgcom{
    width: 30px;
    border-radius: 100%;
}
.variant{
    background-color: red;
    border-radius: 90%;
    position: absolute;
    top: 1px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}
.rigth{
    padding: 10px;
}
.outline{
    font-size: 23px;
}